/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    z-index: 1;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a6a6a6;
}

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    font-family: 'Roboto','Helvetica','Arial','sans-serif';
    scrollbar-color: #c4c4c4 transparent;
    scrollbar-width: thin;
    background-color: #000000;
    overflow-x: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.container
{
    position: relative;
    z-index: 1;
    width: 100%;    
    min-height: 100vh;
    display: grid;  
    place-content: center;
}

.scroll {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 62px;
    position: absolute;
    bottom: 0;
    margin-bottom: 1.5rem;
}

.scroll p{
    font-size: 0.65rem;
    text-transform: uppercase;
    color: rgb(216, 216, 216);
    letter-spacing: .5px;
    margin-top: 1rem;
}

.scroll-wheel{
    animation-name: scroll-wheel-animation;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

@keyframes scroll-wheel-animation {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-20px);}
    100% {transform: translateY(0px);} 
}

.partner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;    
}

.partner h4{
    font-size: 4rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    letter-spacing: .5px;
    margin-bottom: 6rem;
}

.column-text h3{
    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    letter-spacing: .1rem;
}

.column-text p{
    font-size: 1.5rem;
    text-transform: initial;
    color: rgb(255, 255, 255);
    letter-spacing: 0.1rem;
    margin-bottom: 6rem;
    font-weight: normal;
    line-height: 2rem;
}

.button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto','Helvetica','Arial','sans-serif';
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: .5px;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    will-change: transform;
    text-transform: uppercase;
}

.button:hover {
    color: #fff;
    background-color: #000000;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 62px;
    margin-bottom: 1rem;
}

.footer p {
    font-size: 0.65rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    letter-spacing: .5px;
}

.logo{
    display: inline-flex;
    justify-content: center;
}

.logo-img{
    position: relative;
}

.logo-text-img{
    position: relative;
    width: 0;
    overflow: hidden;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero h1{
    color: white;
    margin-top: 2.5rem;
    font-family: 'Roboto','Helvetica','Arial','sans-serif';
    text-transform: uppercase;
}

.wrapper {
    display: flex;

}

.text{
    display: block;
    text-align: center;
}

.mt-5{
    margin-top: 5rem;
}

.mb-5{
    margin-bottom: 5rem;
}

@media (max-width:960px) {
    .logo{
        transform: scale(0.6) !important;
    }
}

@media (max-width:400px) {
    .logo{
        transform: scale(0.4) !important;
    }
}

.column-img{
    justify-items: center; 
    justify-content: center;
    align-items: center;
}

.column-img img{
    height:400px; width: auto;
}

.column-text{
    padding-left: 4rem;
    color: white;
    max-width: 40%;
}

.column-text p{
    padding-top: 1rem;
}
  
.projects {
    position: relative;
    z-index: 10;
}

.indicators {
    left: 2rem;
    top: 0;
    margin: 10vh 0;
    height: 80vh;
    width: 3px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
}

.indicator {
    width: 100%;
    background-color: #adadad;
    flex-grow: 1;
    margin: 2px 0;
}

.projects .point {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4rem; 
    justify-content: space-evenly; 
}

.projects .wrapper {
    height: 100vh;
    width: 100%;
}

.point .point-text {
    flex-basis: 50%;
    z-index: 100;
    position: relative;
}

.point .point-image {
    height: 600px;
    width: 600px;
    background: linear-gradient(180deg, #C68AE8 0%, #79DED7 100%);
    border-radius: 20px;
    position: relative;
}

.black-cover{
    position: absolute;
    left: 10;
    right: 10;
    top: 10;
    bottom: 10;
    border-radius: 20px;
    background-color: #000000;
}

.black-cover svg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 2rem;
}

.point-text h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .1rem;
    margin-bottom: 3rem;
}

.point-text p {
    text-transform: initial;
    color: #fff;
    letter-spacing: .1rem;
    margin-bottom: 6rem;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;    
}



  
